[Desktop Entry]
Comment=OpenDesktop-Dark
Name=OpenDesktop-Dark
X-KDE-PluginInfo-Author=Vincenzo Caselli
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=vincenzo.caselli@rcp-vision.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 2+
X-KDE-PluginInfo-Name=OpenDesktop-Dark
X-KDE-PluginInfo-Version=1.0.15
X-KDE-PluginInfo-Website=opendesktop-dark
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://plasma-themes.knsrc/api.kde-look.org/1298357,kns://icons.knsrc/api.kde-look.org/1498619,kns://aurorae.knsrc/api.kde-look.org/1504897,kns://colorschemes.knsrc/api.kde-look.org/1506129
