[Desktop Entry]
Name=Opendesktop-dark
Comment=Opendesktop-dark aurorae theme

X-KDE-PluginInfo-Author=Vincenzo Caselli
X-KDE-PluginInfo-Email=vincenzo.caselli@rcp-vision.com
X-KDE-PluginInfo-Name=
X-KDE-PluginInfo-Version=1.0.1
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-EnabledByDefault=true
